<div class="objectives-container">
	<div class="main-section">
		<div class="top-section">
			<p class="bold main-section-title">{{ 'presentation.info.objectives.title' | translate }}</p>
			<p>{{ 'presentation.info.objectives.subtitle' | translate }}</p>
		</div>
		<p class="bold subsection">
			{{ 'presentation.info.objectives.subsection' | translate }}
		</p>
		<p>{{ 'presentation.info.objectives.goals' | translate }}</p>
	</div>
	<ol>
		<li>{{ 'presentation.info.objectives.firstGoal' | translate }}</li>
		<li>{{ 'presentation.info.objectives.secondGoal' | translate }}</li>
	</ol>

	<p class="conclusion">{{ 'presentation.info.objectives.conclusion' | translate }}</p>
</div>
