@use "../.././../../libs/shared-assets/_styles/mixins.scss" as mixins;
@use "../.././../../libs/shared-assets/_styles/layout.scss" as layout;

$theme-500: var(--theme-500);

:host {
    mat-dialog-actions {
        height: 88px;
        margin-top: 24px;
        border-top: 1px solid var(--neutral-200);

        button {
            &:nth-of-type(2) {
                background-color: var($theme-500);
            }

            &:nth-of-type(1) {
                color: var($theme-500);
            }

        }

        &.warning {
            button {
                &:nth-of-type(2) {
                    background-color: var(--warning-100);
                    color: var(--neutral-900);
                }

                &:nth-of-type(1) {
                    color: var(--neutral-900);
                }
            }
        }
    }

    mat-dialog-content {
        @include mixins.flex(column, center, center);

        gap: 16px;

        &.warning {
            gap: 0;

            p {
                text-align: start;
            }
        }

        p {
            text-align: center;
        }

        .main-text {
            font-size: 22px;
            line-height: 28px;
        }
    }

    img {
        @include mixins.size(88px, 80px);
    }

    .dialog-header {
        @extend .dialog-header;
    }
}