<section mat-dialog-title class="dialog-header">
	<span>{{ 'inviteMerchants.title' | translate }}</span>
	<button mat-icon-button [attr.aria-label]="'general.button.cancel' | translate" (click)="closeDialog()">
		<mat-icon>close</mat-icon>
	</button>
</section>

<mat-dialog-content>
	<p>{{ 'inviteMerchants.subtitle' | translate }}</p>
	<form [formGroup]="form">
		<mat-form-field appearance="outline">
			<mat-label>{{ 'inviteMerchants.invitationMessage' | translate }}</mat-label>
			<textarea
				matInput
				formControlName="invitationMessage"
				rows="5"
				maxlength="1024"
				[placeholder]="'inviteMerchants.invitationMessage' | translate"></textarea>
			<mat-hint align="end">{{ invitationMessageLength }} / 1024</mat-hint>

			@if (hasRequiredError(form,'invitationMessage')) {
			<mat-error>
				{{ 'inviteMerchants.error.invitationMessageRequired' | translate }}
			</mat-error>
			}
		</mat-form-field>

		<mat-form-field appearance="outline">
			<mat-label
				>{{ 'inviteMerchants.emailAddresses' | translate }} <span class="required-asterisk">*</span></mat-label
			>
			<mat-chip-grid #emailChipGrid>
				@for (merchantEmail of merchantEmailsArray; track merchantEmail) {
				<mat-chip-row (removed)="removeEmailFromList(merchantEmail)">
					{{ merchantEmail }}
					<button matChipRemove>
						<mat-icon>cancel</mat-icon>
					</button>
				</mat-chip-row>
				}
			</mat-chip-grid>
			<input
				[matChipInputFor]="emailChipGrid"
				(matChipInputTokenEnd)="handleKeyup($event, false)"
				(keydown.space)="handleKeyup($event, true)" />
			<mat-hint>{{ 'inviteMerchants.emailsHint' | translate }}</mat-hint>
		</mat-form-field>
		@if (!!emailError) {
		<span class="email-error-message"> {{ emailError | translate }} </span>
		}
	</form>
</mat-dialog-content>

<mat-dialog-actions>
	<button mat-button (click)="closeDialog()">
		{{ 'general.button.cancel' | translate }}
	</button>
	<button mat-flat-button [disabled]="!isFormValid" [class.disabled]="!isFormValid" (click)="inviteMerchants()">
		{{ 'inviteMerchants.title' | translate }}
	</button>
</mat-dialog-actions>
