@use "../.././../../libs/shared-assets/_styles/mixins.scss" as mixins;

:host {
    @include mixins.flex(column, center, center);
    height: 100%;
    gap: 32px;
    padding: 24px 0;

    .no-location {
        height: 120px;
    }

    .no-data-description {
        @include mixins.flex(column, center, center);
        width: 420px;
        gap: 16px;
        text-align: center;

        .title-container {
            font-size: 22px;
            line-height: 28px;
            font-weight: bold;
        }
    }

    @media only screen and (max-height: 576px) {
        :host {
            gap: 24px;

            img {
                height: 40vh;
            }
        }
    }

    @media (max-width: 768px) {

        .no-data-description {

            p {
                padding: 0 64px;
                width: 100%;
            }
        }
    }

}