@use "../.././../../libs/shared-assets/_styles/mixins.scss" as mixins;

$common-size: 4px;

:host {

    .content {
        @include mixins.flex(column);
        padding: $common-size * 8 $common-size * 32 0;
        gap: $common-size * 8;
    }

    img {
        @include mixins.size(100%);
        max-width: $common-size * 292;
        max-height: $common-size * 135;
        object-fit: cover;
        margin: $common-size * 16;
        align-self: center;
    }

    .text,
    .additional-info {
        @extend .common-text-style;
        padding: 0 $common-size * 33;
        color: var(--neutral-700);
    }

    .common-text-style {
        font-size: 22px;
        line-height: 28px;
    }

    .text {
        @extend .common-text-style;
        @include mixins.flex(column, flex-start);
        gap: $common-size * 8;
    }

    .title {
        color: var(--theme-800);
        font-size: $common-size * 8;
        line-height: $common-size * 10;
    }
}