@use "../.././../../libs/shared-assets/_styles/mixins.scss" as mixins;

$description-bg-image: '/assets/images/description-en.svg';
$common-size: 32px;

:host {

    .content {
        @include mixins.flex(column);
        padding: 32px 128px 0;
        gap: $common-size;
    }

    img {
        @include mixins.size(100vw, 100vh);
        @include mixins.background-image($description-bg-image, cover, no-repeat, center);
        max-width: 1168px;
        max-height: 540px;
        object-fit: cover;
        margin: 64px 0;
        align-self: center;
    }

    .text,
    .additional-info {
        padding: 0 132px;
        color: var(--neutral-700);
    }

    .text {
        @include mixins.flex(column, flex-start);
        gap: $common-size;
        line-height: 28px;
    }

    .title {
        color: var(--theme-800);
        font-size: $common-size;
        line-height: 40px;
    }
}