@use "../.././../../libs/shared-assets/_styles/mixins.scss" as mixins;

$common-size: 32px;

:host {

    .content {
        @include mixins.flex(column);
        padding: 32px 128px 0;
        gap: $common-size;
    }

    img {
        @include mixins.size(100%);
        max-width: 1168px;
        max-height: 540px;
        object-fit: cover;
        margin: 64px 0;
        align-self: center;
    }

    .text,
    .additional-info {
        @extend .common-text-style;
        padding: 0 132px;
        color: var(--neutral-700);
    }

    .common-text-style {
        font-size: 22px;
        line-height: 28px;
    }


    .text {
        @extend .common-text-style;
        @include mixins.flex(column, flex-start);
        gap: $common-size;
    }

    .title {
        color: var(--theme-800);
        font-size: $common-size;
        line-height: 40px;
    }
}