<div class="main-container">
    @if(data.length > 0) {
        <div class="top-button-container">
            <button
                mat-flat-button
                attr.aria-label="{{ 'dashboard.inviteMerchantsMsg' | translate }}"
                (click)="openInviteMerchantsDialog()">
                <mat-icon>add</mat-icon> {{ 'inviteMerchants.title' | translate }}
            </button>
        </div>

        <div class="mat-elevation-z8" tabindex="0">
                <table mat-table [dataSource]="dataSource">
                    @for(column of columnConfigs; track column) {
                        <ng-container [matColumnDef]="column.columnDef">
                            <th mat-header-cell *matHeaderCellDef class="custom-header"><p>{{ column.header | translate }}</p></th>
                            <td mat-cell *matCellDef="let element">
                                @if(shouldDisplayColumn(column.columnDef)) {
                                    @if(isColumnType(column.columnDef, 'category')) {
                                        {{ column.cell(element).toString() | translate }}
                                    } @else {
                                        {{ column.cell(element) }}
                                    }
                                }

                                @if(isColumnType(column.columnDef, 'actions')) {
                                    @switch(element.status) {
                                        @case('PENDING') {
                                            <span class="action-icons">
                                            <mat-icon 
                                                class="action-icon pending pointer"
                                                matTooltip="{{ 'tooltip.approveMerchant' | translate }}"
                                                (click)="approveMerchant(element)"
                                                >
                                                check_circle
                                            </mat-icon>
                                                <mat-icon 
                                                class="action-icon pending pointer"
                                                matTooltip="{{ 'tooltip.rejectMerchant' | translate }}"
                                                (click)="rejectMerchant(element)"
                                                >
                                                cancel
                                            </mat-icon>
                                            </span>
                                        }
                                        @case('APPROVED') {
                                            <p class="no-actions">{{'general.noActions' | translate }}</p>
                                        }
                                        @case('REJECTED') {
                                            <span class="action-icons">
                                                <mat-icon class="action-icon rejected" [attr.disabled]="true">check_circle</mat-icon>
                                                <mat-icon class="action-icon rejected" [attr.disabled]="true">cancel</mat-icon>
                                            </span>
                                        }
                                    }
                                }

                                @if(isColumnType(column.columnDef, 'status')) {
                                    @switch(element.status) {
                                        @case('PENDING') {
                                            <span class="status-container">
                                                <span class="material-symbols-outlined status-icon pending">
                                                    schedule
                                                </span>
                                                {{ 'general.status.pending' | translate }}
                                            </span>
                                        }
                                        @case('APPROVED') {
                                            <span class="status-container">
                                                <mat-icon class="status-icon approved">check_circle</mat-icon>
                                                {{ 'general.status.approved' | translate }}
                                            </span>
                                        }
                                        @case('REJECTED') {
                                            <span class="status-container">
                                                <mat-icon class="status-icon rejected">cancel</mat-icon>
                                                {{ 'general.status.rejected' | translate }}
                                            </span>
                                        }
                                    }
                                }
                            </td>
                        </ng-container>
                    }

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
            <div class="table-footer-spacer"></div>
            <mat-paginator
                showFirstLastButtons
                [length]="noOfMerchants"
                [pageSizeOptions]=PAGE_SIZE_OPTIONS
                [attr.aria-label]="'general.paginatorResult' | translate"
                (page)="onPageChange($event)">
            </mat-paginator>
        </div>
    } @else {
        <div class="empty-state">
            <app-no-data [noDataTitle]="noDataTitle" [noDataDescription]="noDataDescription">
                <div class="button-container">
                    <button
                        mat-flat-button
                        attr.aria-label="{{ 'dashboard.inviteMerchantsMsg' | translate }}"
                        (click)="openInviteMerchantsDialog()">
                        <mat-icon>add</mat-icon> {{ 'inviteMerchants.title' | translate }}
                    </button>
                </div>
                
            </app-no-data>
        </div>
    }
</div>
