@use '../.././../../libs/shared-assets/_styles/mixins.scss' as mixins;
@use '../../../../libs/shared-assets/_styles/common-table.scss';

::ng-deep {
    .mdc-tooltip__surface {
        color: var(--neutral-900) !important;
        background: var(--neutral-0) !important;
        box-shadow: 0 1px 2px 0 var(--theme-500-rgb) !important;
    }

}

:host {
    .status-container {
        @include mixins.flex(row, flex-start, center);
        gap: 8px;
    }


    .status-icon {

        &.pending {
            color: var(--warning-200);
        }

        &.approved {
            color: var(--success-200);
        }

        &.rejected {
            color: var(--danger-200);
        }
    }

    .action-icon {

        &.pending,
        &.approved {
            color: var(--neutral-500);
        }

        &.rejected {
            color: var(--neutral-200);
        }
    }

    .action-icons {
        display: flex;
        gap: 16px;
    }

    .action-icon[disabled] {
        cursor: not-allowed;
    }

    .no-actions {
        color: var(--neutral-500);
    }

}