@use '../.././../../libs/shared-assets/_styles/mixins.scss' as mixins;

:host {
    button {
        margin-right: 32px;
        color: var(--theme-500);
        border: 1px solid var(--neutral-300);
    }

    ::ng-deep {
        .mdc-evolution-chip__action--presentational:hover {
            cursor: pointer;
        }

        .mat-mdc-tab-labels {
            gap: 16px;
        }

        .mat-mdc-tab .mdc-tab-indicator__content--underline {
            border-color: transparent;
        }

        .mat-mdc-tab.mdc-tab--active:focus .mdc-tab-indicator__content--underline,
        .mat-mdc-tab.mdc-tab--active:hover .mdc-tab-indicator__content--underline {
            border-color: transparent !important;
        }

        .mat-mdc-tab.mdc-tab--active,
        .mat-mdc-tab:focus {
            background-color: var(--theme-500);

            .mdc-tab__text-label {
                color: var(--neutral-0);
            }
        }

        .mat-mdc-tab {
            display: inline-flex;
            padding: 8px 16px;
            height: auto;
            align-items: center;
            text-align: center;
            border-radius: 8px;
            border: 1px solid var(--neutral-300);
            background-color: var(--neutral-0);
            color: var(--theme-900);
        }

        .mat-mdc-tab.mdc-tab--active:focus {
            background-color: var(--theme-500);

            .mdc-tab__text-label {
                color: var(--neutral-0);
            }
        }

        .mat-mdc-tab-label-container {
            border-bottom-color: transparent;
        }

    }

    @media (max-width: 768px) {

        .welcome {
            padding: 0 20px;

            h1 {
                font-size: 22px;
            }

        }

        .categories-section {
            padding: 12px 32px 0;
        }

        .map-container {
            padding: 24px 32px 32px 32px;
            height: 600px;
        }
    }

}

.top-section {
    @include mixins.size(100%, 10%);
    @include mixins.flex(row, end, center);
}

.welcome {
    @include mixins.flex(column, center, center);
    padding: 24px 0 64px;

    h1 {
        font-size: 36px;
        line-height: 44px;
        color: var(--theme-900);
        margin: 0;
    }
}

.categories-section {
    padding: 0 128px;
}

.map-container {
    @include mixins.size(100%, 772px);
    padding: 24px 128px 32px 128px;
    box-sizing: border-box;
}