<div class="top-section">
	<button mat-stroked-button (click)="openDialog()">
		{{ 'welcomePage.registerButton' | translate }}
	</button>
</div>
<div class="welcome">
	<h1>
		{{ 'welcomePage.titleLeft' | translate }} <strong>{{ 'welcomePage.titleRight' | translate }}</strong>
	</h1>
</div>
<mat-tab-group class="categories-section" (selectedTabChange)="onTabChange($event)">
	@for (category of categoriesData; track category.id) {
	<mat-tab tabindex="0" [label]="category.label | translate" (keydown.enter)="selectCategory(category)"> </mat-tab>
	}
</mat-tab-group>
<div class="map-container" [class.no-location]="showEmptyState">
	<app-merchants-map [showCategories]="true" (emptyStateChange)="onShowEmptyStateChange($event)"></app-merchants-map>
</div>
<app-presentation></app-presentation>
