<div class="top-section">
	<button mat-stroked-button (click)="openDialog()">
		{{ 'welcomePage.registerButton' | translate }}
	</button>
</div>
<div class="welcome">
	<h1>
		{{ 'welcomePage.titleLeft' | translate }} <strong>{{ 'welcomePage.titleRight' | translate }}</strong>
	</h1>
</div>
<mat-tab-group class="categories-section">
	@for (category of categoriesData; track category.id) {
	<mat-tab
		tabindex="0"
		[class.selected]="selectedCategoryId === category.id"
		[label]="category.label | translate"
		(click)="selectCategory(category)"
		(keydown.enter)="selectCategory(category)">
	</mat-tab>
	}
</mat-tab-group>
<div class="map-container">
	<app-merchants-map [showCategories]="true"></app-merchants-map>
</div>
<app-presentation></app-presentation>
