<section mat-dialog-title class="dialog-header">
    <span>{{ title | translate }}</span>
    <button
        mat-icon-button
        [attr.aria-label]="'general.button.cancel' | translate"
        (click)="closeDialog()">
        <mat-icon>close</mat-icon>
    </button>
</section>

<mat-dialog-content>
    <p>{{ subtitle | translate }}</p>
    <form [formGroup]="form">
        @for (field of formFields; track field.formControl) {
            <mat-form-field [class.no-border]="field.isReadOnly" appearance="outline">
                <mat-label>{{ field.labelKey | translate }}</mat-label>

                @switch(field.fieldType) {
                    @case('input') {
                        @switch(field.formControl) {
                            @case('address') {
                                <input
                                    matInput
                                    #inputElement
                                    [readonly]="field.isReadOnly"
                                    [maxlength]="field.maxLength ?? null"
                                    [placeholder]="field.labelKey | translate"
                                    [formControlName]="field.formControl"
                                    [errorStateMatcher]="matcher"
                                    [matAutocomplete]="auto"
                                    [matTooltip]="shouldShowTooltip(inputElement, field.isReadOnly) ? inputElement.value: ''"
                                    (input)="onSearchAddress($event)">
                                
                                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectAddress($event.option.value)">
                                    @for (suggestion of suggestions; track suggestion.text) {
                                        <mat-option [value]="suggestion">{{ suggestion.text }}</mat-option>
                                    }

                                    @if (hasNoSuggestions) {
                                    <mat-option [disabled]="true">
                                        {{ 'general.noResults' | translate }}
                                    </mat-option>
                                }
                                </mat-autocomplete>
                            }

                            @case('identifierNumber') {
                                <input
                                    matInput
                                    [readonly]="field.isReadOnly"
                                    [maxlength]="field.maxLength ?? null"
                                    [placeholder]="field.labelKey | translate"
                                    [formControlName]="field.formControl"
                                    [errorStateMatcher]="matcher"/>
                            }
                            @default {
                                <input
                                    matInput
                                    [readonly]="field.isReadOnly"
                                    [maxlength]="field.maxLength ?? null"
                                    [placeholder]="field.labelKey | translate"
                                    [formControlName]="field.formControl"
                                    [errorStateMatcher]="matcher"
                                   
                                    />
                            }
                        }
                    }

                    @case('select') {
                        <mat-select
                            [formControlName]="field.formControl"
                            [errorStateMatcher]="matcher">
                            <mat-option
                                *ngFor="let option of field.options"
                                [value]="option.id">
                                {{ option.label | translate }}
                            </mat-option>
                        </mat-select>
                    }

                    @case('textarea') {
                        <textarea
				           matInput
				           formControlName="reason"
				           rows="5"
				           maxlength="1024"
				           [placeholder]="'rejectMerchant.reason' | translate">
                        </textarea>
                    }
                }

                @if (field.formControl==='reason') {
                    <mat-hint align="end">{{ reasonMessageLength }} / 1024</mat-hint>
                }

                @if (hasRequiredError(form, field.formControl) && field.requiredMessage) {
                    <mat-error>
                        {{ field.requiredMessage | translate }}
                    </mat-error>
                }

                @if (hasPatternError(form, field.formControl) && field.patternMessage && !isApprovalOrRejection()) {
                    <mat-error>
                        {{ field.patternMessage | translate }}
                    </mat-error>
                }

            </mat-form-field>
        }
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button
        mat-button
        (click)="closeDialog()">
        {{ 'general.button.cancel' | translate }}
    </button>
    <button
        mat-flat-button
        [disabled]="isDisabled()"
        [class.disabled]="isDisabled()"
        (click)="performAction()">
        {{ actionButton | translate }}
    </button>
</mat-dialog-actions>
