@use '../../../../libs/shared-assets/_styles/mixins.scss' as mixins;
@use '../.././../../libs/shared-assets/_styles/common-input-style';

:host {
	.header {
		:nth-child(2) {
			text-align: start !important;
		}
	}

	.form-button {
		 margin-top: 12px !important;
	}

    .resend-message {
        margin-top: 32px !important; 
    }

	.resend-button {
		@include mixins.size(148px, 40px);
		margin-top: 8px;
		align-items: center;
	}

	.resend-button-dutch {
		width: 212px;
	}
}
