<div class="dashboard main-container">
	<div class="title-container">
		<h1>
			{{ 'dashboard.greeting' | translate }}
		</h1>
	</div>
	<div class="cards-section">
		<mat-card>
			<mat-card-header>
				<mat-card-title>
					{{ 'dashboard.currency' | translate }}
				</mat-card-title>
				<mat-card-subtitle>
					{{ 'dashboard.changeRateMsg' | translate }}
				</mat-card-subtitle>
			</mat-card-header>
			<mat-card-content>
				<p>1 Local = 1 €</p>
			</mat-card-content>
		</mat-card>
		<mat-card>
			<mat-card-header>
				<mat-card-title>
					{{ 'dashboard.nrOfMerchants' | translate }}
				</mat-card-title>
				<mat-card-subtitle>
					{{ 'dashboard.inviteMerchantsMsg' | translate }}
				</mat-card-subtitle>
			</mat-card-header>
			<mat-card-content>
				<p>
					{{ merchantsCount }}
				</p>
				<button
					mat-icon-button
					attr.aria-label="{{ 'dashboard.inviteMerchantsMsg' | translate }}"
					(click)="openInviteMerchantsDialog()">
					<mat-icon>add</mat-icon>
				</button>
			</mat-card-content>
		</mat-card>
	</div>
	<div class="map-card">
		<mat-card>
			<mat-card-header>
				<mat-card-title>
					{{ 'dashboard.merchantsMap' | translate }}
				</mat-card-title>
			</mat-card-header>
			<div class="map-container" [class.no-location]="showEmptyState">
				<app-merchants-map
					[showCategories]="false"
					(emptyStateChange)="onShowEmptyStateChange($event)"></app-merchants-map>
			</div>
		</mat-card>
	</div>
</div>
