@use "../.././../../libs/shared-assets/_styles/mixins.scss" as mixins;

$padding-main: 128px;
$max-width-container: 1920px;
$max-height-section-info: 420px;
$gap-main: 128px;
$gap-section: 120px;
$info-content-padding: 32px;
$info-content-left-padding: 128px;
$image-max-width: 520px;
$image-max-height: 352px;
$description-bg-image: '/assets/images/section-info.svg';

:host {
    .main-section-container {
        display: flex;
        flex-direction: column;
        gap: $gap-main;
        padding-top: 80px;
    }

    .section-info-container {
        display: flex;
        gap: $gap-section;
        max-height: $max-height-section-info;
        max-width: $max-width-container;

        .info-content {
            display: flex;
            flex-direction: column;
            flex: 1;
            padding-left: $info-content-left-padding;
            gap: $info-content-padding;
        }

        .image {
            @include mixins.size(100vw, 100vh);
            max-width: $image-max-width;
            max-height: $image-max-height;
            object-fit: cover;
            margin-right: 132px;
            @include mixins.background-image($description-bg-image, cover, no-repeat, center);
        }

        .topic {
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding: 0 132px;

            .title {
                size: 28px;
                line-height: 36px;
            }
        }
    }

    .objectives-container {
        padding: 0 $padding-main;

        .objectives-content {
            padding: 0 $padding-main;

            .main-section {
                display: flex;
                flex-direction: column;
                gap: 16px;

                .top-section {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                }

                .main-section-title {
                    size: 28px;
                    line-height: 36px;
                    color: var(--neutral-900);
                }

            }

            .subsection {
                color: var(--neutral-700);
                size: 22px;
            }

            .conclusion {
                margin-top: 16px;
            }

            ol {
                padding-left: 24px;
            }
        }
    }

    .applications {
        color: var(--warning-100);
    }

    .platform {
        color: var(--success-200);
    }

    .infrastructure {
        color: var(--theme-600);
    }
}