@use "../.././../../libs/shared-assets/_styles/mixins.scss" as mixins;

$common-text-color: var(--neutral-700);

:host {
    .main-info-container {
        @include mixins.flex(column);
        gap: 128px;
        padding-top: 80px;
    }

    .section-info-container {
        display: flex;
        gap: 120px;
        max-height: 420px;
        max-width: 1920px;
    }

    img {
        @include mixins.size(100vw, 100vh);
        max-width: 520px;
        max-height: 352px;
        object-fit: cover;
        margin-right: 132px;
    }

    .info-content {
        @include mixins.flex(column);
        padding-left: 260px;
        gap: 32px;
    }

    .title {
        font-size: 28px;
        line-height: 36px;
    }

    .text {
        &:nth-of-type(-n+3) {
            color: var(--neutral-700);
            font-size: 22px;
        }
    }

    .applications {
        color: var(--warning-100);
    }

    .platform {
        color: var(--success-200);
    }

    .infrastructure {
        color: var(--theme-600);
    }
}