<div class="main-info-container">
	<div class="section-info-container">
		<div class="info-content">
			@for(section of sections; track section){
			<div class="text">
				<p class="title bold" [ngClass]="section.class">{{ section.title | translate }}</p>
				@if(section.text) {
				<p [innerHTML]="section.text | translate"></p>
				}
			</div>
			}
		</div>
		<img src="../../../../assets/images/section-info.svg" alt="Description image en" />
	</div>

	<div class="objectives-container">
		<div class="main-section">
			<div class="top-section">
				<p class="bold main-section-title">{{ 'presentation.info.objectives.title' | translate }}</p>
				<p>{{ 'presentation.info.objectives.subtitle' | translate }}</p>
			</div>
			<p class="bold subsection">
				{{ 'presentation.info.objectives.subsection' | translate }}
			</p>
			<p>{{ 'presentation.info.objectives.goals' | translate }}</p>
		</div>
		<ol>
			<li>{{ 'presentation.info.objectives.firstGoal' | translate }}</li>
			<li>{{ 'presentation.info.objectives.secondGoal' | translate }}</li>
		</ol>

		<p class="conclusion">{{ 'presentation.info.objectives.conclusion' | translate }}</p>
	</div>
</div>
