<footer>
	<div class="logos">
		<a href="" target="_blank">
			<img src="../../../../assets/images/ngi.svg" alt="Local for Local logo" />
		</a>

		<div class="eu-description">
			<img src="../../../../assets/images/EU.svg" alt="EU logo" />

			<div class="text">
				<p>{{ 'presentation.footer.description' | translate }}</p>
				<p>{{ 'presentation.footer.number' | translate }}</p>
			</div>
		</div>
	</div>

	<div class="text-container">
		<div class="powered-by">
			<div class="logo-section">
				<p>{{ 'presentation.footer.poweredBy' | translate }}</p>
				<a href="https://www.centric.eu" target="_blank">
					<img src="../../../../assets/images/centric.svg" alt="Centric logo" />
				</a>
			</div>
			<div class="bottom-section">
				<a click="openDialog()">
					{{ 'presentation.footer.privacyPolicy' | translate }}
				</a>
				<a href="https://www.centric.eu/en/disclaimer" target="_blank">
					{{ 'presentation.footer.disclaimer' | translate }}
				</a>
			</div>
		</div>
	</div>
</footer>
