<div class="consortium-container">
	<p class="title bold">{{ 'presentation.members.title' | translate }}</p>
	<div class="member-grid">
		@for(member of memberData; track member.name ){
		<div class="member-card">
			<figure class="logo-container">
				<img
					[src]="'../../../../assets/images/' + member.logo"
					class="logo-placeholder"
					alt="{{ member.name | translate }} logo" />
			</figure>
			<p class="card-title bold">{{ member.name | translate }}</p>
			<p class="card-description">{{ member.description | translate }}</p>
		</div>
		}
	</div>
</div>
