@use '../.././../../libs/shared-assets/_styles/mixins.scss' as mixins;

$common-radius: 24px;

.consortium-container {
    @include mixins.flex(column);
    padding: 128px 128px 0;
    gap: 64px;
    text-align: center;

    .title {
        font-size: 32px;
        line-height: 40px;
        color: var(--theme-800);
    }
}

.member-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 64px;
    padding: 0 132px;
}

.member-card {
    @include mixins.flex(column);
    max-height: 508px;
    max-width: 668px;
    background: var(--neutral-0);
    border: 2px solid var(--theme-100);
    border-radius: $common-radius;
    padding: 32px 32px 0 32px;
    text-align: left;

    .logo-placeholder {
        @include mixins.size(200px, 100px);
        background-color: var(--theme-500);
        border-radius: $common-radius;
        align-self: center;
    }

    .card-title,
    .card-description {
        size: 22px;
        line-height: 28px;
        color: var(--neutral-900);
    }

    .card-title {
        margin: 48px 0 16px;
    }

    .card-description {
        margin-bottom: 32px;
    }
}