@use "../.././../../libs/shared-assets/_styles/mixins.scss" as mixins;

$success-100: var(--success-100);
$danger-100: var(--danger-100);
$warning-100: var(--warning-100);

::ng-deep {
	.mdc-snackbar__label {
		padding: 0px !important;
	}

	.mat-mdc-snack-bar-container .mat-mdc-snackbar-surface {
		padding-right: 0px !important;
	}

	.mat-mdc-snackbar-surface {
		box-shadow: 0 0 !important;
	}

	.cdk-overlay-pane {
		margin-bottom: 32px !important;
		margin-right: 32px !important;
	}

	.mat-icon {
		overflow: visible !important;
	}

	.mat-mdc-icon-button {
		@include mixins.size(24px, 24px);
		padding: 0px;
	}
}

.custom-snackbar {
	width: 552px;
	padding: 12px 8px 12px 12px;
	border-radius: 4px;

	&.success {
		background-color: var(--success-50);
		color: $success-100;
		border: 1px solid $success-100;
	}

	&.info {
		background-color: var(--info-50);
		color: var(--info-100);
		border: 1px solid var(--info-100);
	}

	&.error {
		background-color: var(--danger-50);
		color: $danger-100;
		border: 1px solid $danger-100;
	}

	&.warning {
		background-color: var(--warning-50);
		color: $warning-100;
		border: 1px solid $warning-100;
	}
}

.icon {
	margin-right: 12px;
	font-size: 24px;
}

.message {
	flex: 1;
	color: var(--neutral-900) !important;
}